<h1>Stupid Coaching</h1>

<p>Ask your coach anything:</p>

<form action="/answer" class="form-inline">
  <div class="input-group input-group-lg">
    <input type="text" name="question" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Ask" class="btn btn-primary">
    </span>
  </div>
</form>

<%# The native behaviour of a <form> tag is to generate the HTTP request defined by the method and action attributes.

the method attribute holds the HTTP verb (GET by default)
the action attribute holds the url of the request it triggers on submit
In the <input>, the name attribute enables you to set the key of the corresponding parameter. %>