<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<%# The native behaviour of a <form> tag is to generate the HTTP request defined by the method and action attributes.

the method attribute holds the HTTP verb (GET by default)
the action attribute holds the url of the request it triggers on submit
In the <input>, the name attribute enables you to set the key of the corresponding parameter. %>